/* デフォルト(PC全般) */
body {
    width: 100%;
    max-width: 1512px;
    margin: 0;
    position: relative;
}

/* 1400px〜1540pxのPC表示を崩さないように調整 */
@media screen and (min-width: 1400px) and (max-width: 1540px) {
    body {
        max-width: 1540px;
    }
}

/* 768px〜850pxのタブレット表示を崩さないように調整 */
@media screen and (min-width: 768px) and (max-width: 850px) {
    body {
        max-width: 850px;
        /* タブレット向けの余白調整 */
        padding: 15px;
    }
}

.header {
    width: 1512px;
    height: 82px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* headerに謎の余白ができた為、調べた結果の実行 */
.header-heading {
    margin: 0;
}



.staff_attendance_link {
    position: absolute;
    text-align: center;
    width: 48px;
    height: 29px;
    top: 25px;
    left: 1020px;
    color: white;
    text-decoration: none !important;
}

.staff_attendance_list_link {
    position: absolute;
    text-align: center;
    width: 96px;
    height: 29px;
    top: 25px;
    left: 1100px;
    color: white;
    text-decoration: none !important;
}

.staff_application__link {
    position: absolute;
    text-align: center;
    width: 48px;
    height: 29px;
    top: 25px;
    left: 1228px;
    color: white;
    text-decoration: none !important;
}

.admin_attendance_link {
    position: absolute;
    text-align: center;
    width: 70px;
    height: 29px;
    top: 25px;
    left: 1000px;
    color: white;
    text-decoration: none !important;
}

.admin_staff_list_link {
    position: absolute;
    text-align: center;
    width: 96px;
    height: 29px;
    top: 25px;
    left: 1100px;
    color: white;
    text-decoration: none !important;
}

.admin_application__link {
    position: absolute;
    text-align: center;
    width: 48px;
    height: 29px;
    top: 25px;
    left: 1228px;
    color: white;
    text-decoration: none !important;
}

.logout_button {
    position: absolute;
    width: 120px;
    height: 29px;
    top: 23px;
    left: 1300px;
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}